.servicePageMainContainer {
    display: flex;
    flex-direction: column;
    gap: 118px;
}

.servicePageMainContainer h2 {
    margin-top: 80px;
}

.servicePageMainContainer .mBusinessDesc1{
    display: none;
}

.servicePageMainContainer .servicePageMCardMainContainer{
    padding: 0 135px;
    margin-top: -65px;
}

.sPagecardContainerOverlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
  }

.overLayDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sPagecardContainerOverlay h2{
    margin: 0 !important;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    text-transform: capitalize;
  }
  
  .sPagecardContainerOverlay p {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

.servicesPageContainer2{
    padding: 100px 135px;
    background-color: rgba(247, 247, 248, 1);
    display: flex;
    gap: 80px;
    align-items: center;
}

.servicePageImageContainer2{
    width: 561px;
    flex: 1;
}

.container2Contents{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

.container2Contents h1{
    text-align: left;
    margin-bottom: 20px;
}

.servicePagecontainer2MobileHeading{
    display: none;
}

.container3{
    padding: 0 135px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.servicePagecontainer2MobileHeading{
    display: none;
}

.container3SellingCard{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.sellingCards{
    display: flex;
    gap: 30px;
    background: #F7F7F8;
    padding: 30px 45px 30px 30px;
    justify-content: space-between;
    width: 48%;
    border-radius: 10px;
}

.selected {
    width: 110px !important;
}

.sellingImageContainer{
    width: 150px;
    height: 80px;
}

.container3Contents{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container3Contents p {
    text-align: left;
}

.container4 {
    padding: 70px 135px;
    display: flex;
    position: relative;
    gap: 60px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.background{
    width: 63%;
    height: 100%;
    position: absolute;
    background: #F7F7F8;
    z-index: -1;
    right: 100px;
    border-radius: 10px;
}

.container4ImgContainer{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.container4ImgContainer img{
    object-fit: cover;
}

.container4Contents{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-left: 40px;
}

.container4Contents h1{
    text-align: left;
}

.container4Contents p{
    text-align: justify;
}

.marginContainer .testimonialMainContainerServicePage{
    margin-top: 0px;
}

.testimonialLeftContainer h2{
    margin-top: 0;
}

.mTestimonialHeading{
    display: none;
}

@media (max-width: 1280px) {
    .servicePageMainContainer .servicePageMCardMainContainer{
        padding: 0 35px;
    }

    .servicesPageContainer2{
        padding: 70px 35px;
    }

    .container3{
        padding: 0 35px;
    }

    .container4{
        padding: 70px 35px;
    }

    .container4Contents{
        padding-left: 0;
    }
}

@media (max-width: 600px) {

    .servicePageMainContainer h2{
        color: #FFF;
        text-align: center;
        font-size: 24px ;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
        margin-top: 125px;
    }
    
    .servicePageMainContainer{
        gap: 50px;
        align-items: center;
    }

    .servicePageMainContainer .mBusinessDesc1{
        display: flex;
        color: #02040E;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 0 24px;
    }

    .servicePageMainContainer .servicePageMCardMainContainer{
        padding: 0 24px;
        margin-top: -50px;
    }

    .servicePageMCardMainContainer .sPagecardContainerOverlay{
        display: flex;
        position: relative;
        height: 179px;
    }

    .servicePageMCardMainContainer .cardContainer:hover::before{
        transition: none !important;
    }

    .cardContainer:hover .sPagecardContainerOverlay {
        height: 179px !important;
        transition: none !important;
      }

    .servicePageMCardMainContainer .cardContainer{
        gap: 15px;
    }

    .cardContainer .imgContainer{
        width: 60px;
        height: 60px;
    }

    .cardContainer h1{
        font-size: 16px;
    }

    .servicesDescContainer{
        height: auto;
    }

    .sPagecardContainerOverlay h2{
        display: none;
    }

    .overLayDesc{
        gap: 5px;
    }

    .sPagecardContainerOverlay p{
        font-size: 12px;
    }

    .serviceCardOverlayUL{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .serviceCardOverlayUL li{
        margin: 0;
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .servicesPageContainer2{
        padding: 40px 24px;
        flex-direction: column;
        gap: 30px;
    }

    .servicesPageContainer2 .servicePageImageContainer2{
        width: auto;
        height: auto;
    }

    .servicesPageContainer2 .servicePagecontainer2MobileHeading{
        display: flex;
        color: #02040E;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .container2Contents p{
        text-align: left;
    }

    .container3{
        padding: 0 24px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .container3 .servicePagecontainer2MobileHeading{
        display: flex;
        color: #02040E;
        text-align: left;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .container3Contents h1{
        font-size: 16px;
    }

    .sellingCards{
        width: auto;
        border-radius: 10px;
        padding: 24px 15px 20px 15px;
    }

    .selected {
        width: 90px !important;
    }

    .sellingImageContainer{
        width: 120px;
    }

    .servicesPageContainer{
        padding: 0 24px;
    }

    .container4{
        padding: 0 24px;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    .container4ImgContainer{
        width: 100%;
        height: auto;
        order: -1;
    }

    .background{
        width: 100%;
        height: 80%;
        top: 152px;
        right: 0;
    }

    .container4Contents{
        padding: 0;
        width: 100%;
        order: 1;
        gap: 10px;
    }

    .container4 .servicePagecontainer2MobileHeading{
        display: flex;
        color: #02040E;
        text-align: left;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
        text-transform: capitalize;
        /* margin-bottom: 10px; */
    }

    .marginContainer{
        margin-top: 30px;
    }

    .testimonialLeftContainer .mTestimonialHeading{
        display: flex;
        margin: 0;
        margin-bottom: 5px;
        color: #02040E;
        text-align: left;
    }

    
}





